@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
   background: #ccc; 
}

/* HEADER SECTION */
header {
   /** background: radial-gradient(rgba(0, 0, 0, 1),rgba(0, 0, 0, 1)),url(img/stadium-4.jpeg)center/cover fixed no-repeat;**/
    background: radial-gradient(50% 50% at center, transparent 0%, rgba(0, 0, 0, 0.9)),url(../img/stadium-4.jpeg)center/cover fixed no-repeat;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /*clip-path: polygon(0 0, 100% 0, 100% 95%,50% 100%,0 95%);*/
    clip-path: polygon(0 0, 100% 0, 100% 90%, 75% 100%, 25% 100%, 0 90%, 0 22%);
    padding: 25px 0;
}

header .text {
    width: 35%;
    margin-left: 50%;
    transform: translateX(-200%);
    opacity: 0;
    animation: slide-in-right 1.5s ease-out forwards;
}

header .text:nth-child(3) {
    animation-delay: 0.8s;
}

@keyframes slide-in-right {
    20% {
        opacity: 0;
    }
    60% {
        transform: translateX(-45%);
    }
    75% {
        transform: translateX(-52%); 
    }
    100% {
        opacity: 1;
        transform: translateX(-50%); 
    }
}

header .image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    animation: fadeInAnimation ease-in 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-delay: 1.5s;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

header .image img {
    width: 60%;
    display: block;
    margin: 0 auto;
    border-radius: 10px;
}

@media (max-width: 820px) {
    header {
        justify-content: space-around;
        padding: 0;
        clip-path: polygon(0 0, 100% 0, 100% 95%, 75% 100%, 25% 100%, 0 95%, 0 100%);

    }

    header .text {
        width: 50%;
    }

    header .text:nth-child(1) {
        margin-bottom: 300px;
    }

    header .image {
        width: 100%;
    }
}

@media (max-width: 600px) {
    header .text {
        width: 75%;
    }

    header .text:nth-child(1) {
        margin-bottom: 200px;
    }
}

/* AUDIO SECTION */
#audio {
    background: #ccc; 
    margin: 0 auto;
    padding: 25px 0;
    display: flex;
    justify-content: center;
}

#audio .track {
    margin-right: 25px;
}

#audio .track h5 {
    text-align: center;
    margin-bottom: 10px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

div audio {
    height: 25px;
    border-radius: 50px;
    box-shadow: 2px 2px 5px rgb(0, 0, 0, 0.5);
    outline: none;
}

@media (max-width: 600px) {
    #audio {
       flex-direction: column;
    }

    #audio .track:nth-child(2) {
        margin-top: 25px;
    }

    div audio {
        display: block;
        margin: 0 auto;
    }
}

.red {
    background: red;
    height: 5px;
}

.white {
    background: white;
    height: 5px;
}

.black {
    background: black;
    height: 5px;
}

/* PHOTOS SECTION */
.photos {
    background: #fff;
}

.photos .photo-row,
.photos .photo-row_2 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.photos .photo-row img,
.photos .photo-row_2 img {
    width: 35%;
    margin: 25px 0;
    border-radius: 5px;
}

.photos .photo-row_2 img:nth-child(1),
.photos .photo-row_2 img:nth-child(3) {
    width: 15%;
    height: 100%;
}

@media (max-width: 600px) {
    .photos .photo-row,
    .photos .photo-row_2 {
        flex-direction: column;
    }

    .photos .photo-row img,
    .photos .photo-row_2 img {
        width: 75%;
    }

    .photos .photo-row_2 img:nth-child(1),
    .photos .photo-row_2 img:nth-child(3) {
        width: 55%;
        height: 100%;
    }
}

/* SEASON RECAPS SECTION */
.schedules {
    background: linear-gradient(rgba(0, 0, 0, 0.8),rgba(0, 0, 0, 0.8)),url('../img/stadium-3.jpg') center/cover fixed no-repeat; 
    font-family: 'Oswald', sans-serif;
}

.schedules h1 {
    text-align: center;
    text-transform: capitalize;
    margin-top: 25px;
    color: #fff;
    font-weight: 400;
}

.schedules h1:nth-child(1) {
    color: #000;
}

.line {
    width: 75%;
    margin: auto;
    background: #fff;
    height: 2px;
    border-radius: 25px;
    margin-top: 15px;
}

.heading {
    background: #ff0000;
    padding: 15px 0;
}

.heading h1, h4 {
    text-align: center;
    text-transform: uppercase;
}

.heading h1 {
    margin-top: 0;
    letter-spacing: 2px;
}

.heading h4 {
    font-weight: 300;
    letter-spacing: 5px;
    color: #000;
}

.recap-heading {
    background: #000;
    display: flex;
    justify-content: space-between;
}

.recap-heading .left,
.recap-heading .right {
    width: 40%;
    height: 15px;
}

.recap-heading .left {
    background: #ccc;
    clip-path: polygon(0 0, 90% 0, 100% 100%, 0% 100%);
}

.recap-heading .right {
    background: #ccc;
    clip-path: polygon(10% 0, 100% 0, 100% 100%, 0% 100%);
}

.recap-heading:nth-child(3) .left {
    clip-path: polygon(0 0, 100% 0, 90% 100%, 0% 100%);
}

.schedule {
    max-width: 75%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    padding: 10px 0;
}

.post-season {
    width: 50%;
    margin: auto;
    padding: 10px 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.post-season img {
    margin-top: 15px;
}

.game-box {
    text-align: center;
    color: #fff;
    letter-spacing: 2px;
    text-transform: capitalize;
    margin: 15px 0;
    line-height: 20px;
}

.game-box img {
    width: 50px;
}

.game-box h2 {
    font-size: 1rem;
    font-weight: 400;
}

.game-box span {
    font-size: 0.8rem;
}

.game-box h3 {
    font-size: 0.9rem;
    font-weight: 400;
}

.game-box h4 {
    text-transform: capitalize;
    font-size: 0.8rem;
}

.game-box p {
    font-size: 0.9rem;
}

@media (max-width: 1024px) {
    .post-season {
        width: 75%;
    }
}

@media (max-width: 820px) {
    .recap-heading .left {
        clip-path: polygon(0 0, 50% 0, 100% 100%, 0% 100%);
    }
    
    .recap-heading .right {
        clip-path: polygon(50% 0, 100% 0, 100% 100%, 0% 100%);
    }

    .schedule {
        grid-template-columns: repeat(3, 1fr);
    }

    .post-season {
        width: 100%;
    }
}

@media (max-width: 600px) {
    .schedule,
    .post-season {
        grid-template-columns: 1fr;
    }

    .game-box {
        line-height: 35px;
        margin: 25px 0;
    }

    .game-box img {
        width: 125px;
    }

    .game-box h2 {
       font-size: 1.8rem; 
    }

    .game-box h3 {
        font-size: 1.5rem;
    }

    .game-box h4 {
        font-size: 1.3rem;
    }

    .game-box p {
        font-size: 1.3rem;
    }
}

.trophies {
    width: 25%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.trophies img {
    width: 25%;
}

@media (max-width: 600px) {
    .trophies img {
        width: 40%;
    }
}

.bottom-heading {
    background: #000;
    display: flex;
    justify-content: space-between;
}

.bottom-heading .left,
.bottom-heading .right {
    width: 40%;
    height: 15px;
}

.bottom-heading .left {
    background: #ccc;
    clip-path: polygon(0 0, 100% 0, 90% 100%, 0% 100%);
}

.bottom-heading .right {
    background: #ccc;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 10% 100%);
}

@media (max-width: 820px) {
    .bottom-heading .left {
        clip-path: polygon(0 0, 100% 0, 50% 100%, 0 100%);
    }
    
    .bottom-heading .right {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 50% 100%);
    }
}

/* FOOTER SECTION */
.footer {
    background: #ff0000;
}

.footer .brand {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 15px;
}

.footer .icons {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 15px;
}

.icons img {
    width: 35px;
    margin: 0 5px;
    transition: transform .2s;
}

.icons img:hover {
    transform: scale(1.5);
}

.footer h4 {
    font-family: 'Oswald', sans-serif;
    text-transform: capitalize;
    letter-spacing: 3px;
}

.footer-line {
    background: #000;
    height: 2px;
    width: 75%;
    margin: auto;
}

.designer {
    text-align: center;
    padding: 15px 0;
}

.designer p {
    font-family: sans-serif;
}

.designer a {
    color: #000;
    text-decoration: none;
}

.designer a:hover {
    text-decoration: underline;
}

@media (max-width: 600px) {
    .designer {
        padding: 35px;
    }
}








